env
**/*.pyc
**/__pycache__
node_modules
build
static
package-lock.json
some
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignoring vscode folder
.vscode/
